<!DOCTYPE html>
<html>
       <head>
            <title>Currículum Vitae</title>
            <meta charset="UTF-8">
            <link rel='stylesheets' href='/public/stylesheets/style.css' />
       </head>
  
    <body> 
        <div class="resume">
            <aside> 
                <info>
                  <div class="profile-header">
                  <img height="540" width="507" alt="Puede ser una imagen de 1 persona" class="x1ey2m1c xds687c x5yr21d x10l6tqk x17qophe x13vifvy xh8yej3 xl1xv1r" referrerpolicy="origin-when-cross-origin" src="https://scontent.fgdl5-3.fna.fbcdn.net/v/t39.30808-6/317564129_1895981884078871_230954601166418976_n.jpg?stp=dst-jpg_p180x540&amp;_nc_cat=100&amp;ccb=1-7&amp;_nc_sid=730e14&amp;_nc_ohc=fJOlDV9Tg9wAX_dJifO&amp;_nc_oc=AQkXPMRaVCCyrb5sHuBEMBoVM-5vNJ1QM19J_W_LLmErhT9aw-KcePxEA_RAoLNHtCA&amp;_nc_ht=scontent.fgdl5-3.fna&amp;oh=00_AfAjMxoffbGVhh0Mgia6vzPjIWEAFVESylefGMULunQrqQ&amp;oe=638D89E3">
                  </div>
                  
                    <h1>Luis Augusto Hidalgo Vasquez</h1>
                    <ul
                        <li><i class="Nacimiento" aria-hidden="true"></i>
                        <li>  - 16 de Agosto de 2000</li>
                        <li><i class="Estado-Municipio" aria-hidden="true"></i>
                        <li>  - Zamora, Aragua.</li>
                        <li><i class="Telefono" aria-hidden="true"></i>
                        <li> - (+58) 414 297 4585</li>
                        <li><i class="Correo" aria-hidden="true"></i>
                        <li>  - luishidalgops6@gmail.com</li>    
                    </ul>
                    </font>
                </info>
              
                <section class="about">
                    <h3>
                        <i class="interes"></i>
                        <font face= Georgia>
                        ○  Intereses personales.
                        </font>
                    </h3>
                  
                   <font face= Arial>
                      <div id="intereses">
                          <p>Me gustan los gatos, mi pasatiempo favorito es hacer arte abstracto y cocinar. Me gusta dormir. 
                            Me gusta todo lo que tiene que ver con diseño y gastronomía. 
                          </p>
                      </div>
                   </font>    
                </section>
            </aside>
       
            <main>
                <section>
                    <div class="encabezado">
                        <h3>
                            <i class="Estudios" aria-hidden="true"></i>
                            <font face= Georgia>
                            Estudios y conocimientos.
                            </font>
                        </h3>
                    </div>
              
                    <div id="estudios">
                       <font face= Tahoma>
                          <strong>Estudios.</strong><br>
                          <small>Nivel educativo.</small>
                       </font>
   
          <table>
              <tr>
                  <td>Agosto 2009 - Julio 2011</td>
                  <td>Kinder.</td>
                  <td>Club de Leones.</td>
              </tr>
  
              <tr>
                  <td>Agosto 2011 - Julio 2017</td>
                  <td>Escuela primaria.</td>
                  <td>Primero de Junio (1° grado), Javier Pinto Valle (2°-6° grado)</td>
              </tr>
              <tr>
                  <td>Agosto 2017 - Julio 2020</td>
                  <td>Escuela secundaria.</td>
                  <td>Benito Rincón López "La machetera."</td>
              </tr>
              <tr>
                  <td>Agosto 2020 - Actualmente.</td>
                  <td>Universidad de Colima, Bachillerato #23</td>
                  <td>Carrera a Analista Programador</td>
              </tr>
          </table>
                        <p></p>
                        <p></p>
                      
                        <font face= Georgia >
                        <strong>Idiomas.</strong><br>
                        <small>Nivel de lenguas.</small>
                        </font>
                      
                        <ul>
                          <font face= Arial >     
                            <li>C2 en Español.</li>
                            <li>A2 en Inglés.</li>
                            <li>A1 en Portugues.</li>
                          </font>
                        </ul>
                    </div>
                </section>
          
                <section class="education">
                        <div class="encabezado">
                           <h3>
                              <i class="Conocimientos" aria-hidden="true"></i>
                              <p> Conocimientos adquiridos. </p>
                           </h3>
                         </div>

                         <div id="plataformas">
                            <ul>
                              <font face= Courier>
                                 <li><strong>Plataformas.</strong>
                              </font>
                            </ul>
                         </div>
                  
                         <div id="metodologías-y-estándares.">
                           <font face= Courier>
                             <ul>
                                <li><strong>Metodologías y estándares.</strong>
                             </ul>
                            </font>
                          </div>
                          <div id="lenguajes-prograrmacíón.">
                            <font face= Courier>
                             <ul>
                               <li><strong>Lenguajes de programación.</strong>
                              </ul>
                            </font>
                          </div>
                           
                         <div id="Frameworks-y-librerías">
                           <font face= Courier>
                             <ul>
                                <li><strong>Framework's y librerías.</strong>
                             </ul>
                           </font>
                         </div>

                        <div id="bases-de-datos">
                          <font face= Courier>
                            <ul>
                                <li><strong>Bases de datos.</strong>
                             </ul>
                          </font>
                        </div>
                           
                         <div id="aplicaciones">
                           <font face= Courier>
                             <ul>
                                <li><strong>Aplicaciones.</strong>
                              </ul>     
                            </font>
                         </div> 
                                               
                <section class="courses">
                    <div class="encabezado">
                        <h3>
                            <i class="CYT" aria-hidden="true"></i>
                              <font face= Georgia  >
                                    Cursos y talleres.
                              <font face= Georgia>
                        </h3>
                    </div>
                        <ul>
                          <font face= Arial>
                            <li>Taller de lectura.</li>
                            <li>Curso de Inglés.</li>
                            <li>Taller de conocimientos básicos en Excel.</li>
                          </font>
                        </ul>
                </section>
                           
                <section class="information">
                    <div class="encabezado">
                        <h3>
                            <i class="Experiencia" aria-hidden="true"></i>
                            <font face= Georgia>
                               <strong>Experiencia de trabajo o profesional.</strong>
                            </font>
                        </h3>
                    </div>
                    <font face= Arial>
                        <p> Ninguna. </p> 
                    </font>
                </section>
            </main>
        </div>
    </body>
</html>