<!DOCTYPE html>
<html>
       <head>
        <title>Luis A. Hidalgo - CV</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <style>
        </style>
      </head>
      
      <body>
      <header id="inicio">
          <h1>Luis Augusto Hidalgo Vasquez</h1>
          <h2>Desarrollador web / Programador</h2>
          <div class="misEnlaces">
              <a href="https://github.com/Luisitox12" target="_blank"><img class="enlacesExternos" src="images/git.png"></a>
              <a href="mailto: luishidalgops6@gmail.com"><img class="enlacesExternos" src="https://imgur.com/4EuQ4NV.png"></a>
          </div>
      </header>
      <img class="fotoCV" src="images/profile.jpg">
      
      
      <nav>
          <div>
              <p>Presentación</p>
              <a href="#presentacion"><img src="https://imgur.com/MG9wYnX.png" ></a>
          </div>
          <div>
              <p>Habilidades</p>
              <a href="#habilidades"><img src="https://imgur.com/jb1ahkJ.png" ></a>
          </div>
          <div>
              <p>Experiencia laboral</p>
              <a href="#experiencia"><img src="https://imgur.com/fAjqGYH.png" ></a>
          </div>
          <div>
              <p>Estudios</p>
              <a href="#estudios"><img src="https://imgur.com/wCDgsMA.png" ></a>
          </div>
          <div>
              <p>Otros detalles</p>
              <a href="#otros"><img src="https://imgur.com/l1sh7tu.png" ></a>
          </div>
          <div>
              <p>Contacto</p>
              <a href="#contacto"><img src="https://imgur.com/EoWfhRS.png" ></a>
          </div>
      </nav>
      
      
      <section id="presentacion" class="presentacion">
       <div>
          <h4>DATOS PERSONALES</h4>
          <p>Luis Augusto Hidalgo Vasquez</p>
          <p>+58 414-2974585</p>
          <p>Maracay, Aragua</p>
          <p>luishidalgops6@gmail.com</p>
       </div>
       <div>
          <h4>RESUMEN ESTUDIOS</h4>
          <p>Grado Primaria en Ciencias.</p>
          <p>Grado Bachillerato en Ciencias.</p>
          <p>Grado Universitatrio en Ingenieria Informatica. cursando Actualmente.</p>
       </div>
       <div>
          <h4>RESUMEN HABILIDADES</h4>
          <p>HTML</p>
          <p>CSS</p>
          <p>Javascript</p>
          <p>Diseño gráfico</p>
       </div>
      </section>
      <hr>
      <blockquote>Desarrolador de software independiente con un fuerte enfoque en el desarrollo y despliegue de aplicaciones web. Persistente en el autoaprendizaje y aprendizaje de nuevas tecnologías, autodirigido, trabajador y confiable, trabajando de manera efectiva tanto de forma independiente como en equipo.</blockquote>
      
      
      <div id="habilidades" class ="tituloYretorno">
          <a href="#inicio">▲</a>
          <h3>Habilidades</h3>
      </div>
      <section class="habilidades">
          <div class="fila">
              <div class="habilidad">
                  <h5>HTML</h5>
                  <p>★★★<span>★★</span></p>
              </div>
              <div class="habilidad">
                  <h5>CSS</h5>
                  <p>★★★<span>★★</span></p>
              </div>
              <div class="habilidad">
                  <h5>JAVASCRIPT</h5>
                  <p>★★★<span>★★</span></p>
              </div>
              <div class="habilidad">
                  <h5>SQL</h5>
                  <p>★★<span>★★★</span></p>
              </div>
          </div>
          <div class="fila">
              <div class="habilidad">
                  <h5>Adobe Photoshop</h5>
                  <p>★★★★<span>★</span></p>
              </div>
              <div class="habilidad">
                  <h5>Blender</h5>
                  <p>★★★<span>★★</span></p>
              </div>
          </div>
          <div class="fila">
              <div class="habilidad">
                  <h5>Vantive</h5>
                  <p>★★★★<span>★</span></p>
              </div>
              <div class="habilidad">
                  <h5>Paquete de Office</h5>
                  <p>★★★★<span>★</span></p>
              </div>
              <div class="habilidad">
                  <h5>MATLAB</h5>
                  <p>★★<span>★★★</span></p>
              </div>
          </div>
          <div class="fila">
              <div class="habilidad">
                  <h5>Español</h5>
                  <p>★★★★★<span></span></p>
              </div>
              <div class="habilidad">
                  <h5>Inglés</h5>
                  <p>★★★★<span>★</span></p>
              </div>
              <div class="habilidad">
                  <h5>Francés</h5>
                  <p>★<span>★★★★</span></p>
              </div>
          </div>
      </section>
      
      
      <div id="experiencia" class = tituloYretorno>
          <a href="#inicio">▲</a>
          <h3>Experiencia laboral</h3>
      </div>
      <section class="experiencia">
          <ul>
              <li><span>Desarrollador de Node JS</span></li>
                <ul class="detalles">
                  <li>Independiente</li>
                  <li>2020-Actualidad</li>
                  <li>Núcleo de Node.js
                    Infraestructura y nubes de Node.js
                    Optimización del rendimiento de Node.js</li>
                </ul>
              </li>
            </ul>
      </section>
      
      
      <div id="estudios" class = tituloYretorno>
          <a href="#inicio">▲</a>
          <h3>Estudios</h3>
      </div>
      <section class="experiencia">
          <ul>
              <li><span>Grado Primaria en Ciencias</span></li>
                <ul class="detalles">
                  <li>U.E.N "Tacasuruma"</li>
                  <li>2006-2011</li>
                  <li>Nota media: 19,89</li>
                </ul>
              </li>
      
              <li><span>Grado Bachillerato en Ciencias</span></li>
                <ul class="detalles">
                  <li>U.E.N "Aime Bompland"</li>
                  <li>2011-2017</li>
                  <li>Nota media: 19,67</li>
                </ul>
              </li>
      
              <li><span>Grado Universitario en Ingenieria Informatica</span></li>
                <ul class="detalles">
                  <li>Romulo Gallegos "UNERG"</li>
                  <li>2022 - Actualidad</li>
                  <li>Nota media: -</li>
                </ul>
              </li>
            </ul>
      </section>
      
      
      <div id="otros" class = tituloYretorno>
          <a href="#inicio">▲</a>
          <h3>Otros detalles de interés</h3>
      </div>
      <section class="otros">
          <details>
              <summary><span>Estudios de las Tecnologias Emergentes</span></summary>
              <ul>
                <li>Entusiasta de las tecnologías de vanguardia Autorganizado, aprendiz rápido, sólidas habilidades de resolución de problemas</li>
              </ul>
          </details>
          
          <details>
              <summary><span>Desplazamiento y disponibilidad</span></summary>
              <ul>
                <li>Carnet de Conducir B1.</li>
                <li>Vehículo propio.</li>
                <li>Capacidad de incorporación inmediata.</li>
              </ul>
          </details>
      </section>
      
      
      <div id="contacto" class = tituloYretorno>
          <a href="#inicio">▲</a>
          <h3>Contacto</h3>
      </div>
      <section class="contacto">
          <p>Ante cualquier cuestión adicional o consulta, no duden en contactarme a través de los siguientes medios:</p>
          <table class="datosContacto">
              <tr>
                <th>Nombre</th>
                <td>Luis Augusto Hidalgo Vasquez</td>
              </tr>
              <tr>
                <th>Teléfono</th>
                <td>+58 414-2974585</td>
              </tr>
              <tr>
                <th>Correo electrónico</th>
                <td>luishidalgops6@gmail.com</td>
              </tr>
            </table>
        
      </section>
      
      
      <footer>
      <p>
          Currículum actualizado a día 19/04/2024.
      </p>
      <p>
          Imágenes e iconos empleados son importados de manera externa.
      </p>
      </footer>
      </body>
      </html>