<!DOCTYPE html>
<html>
       <head>
        <title>Luis A. Hidalgo - CV</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <style>
        </style>
      </head><body>
      <header id="inicio">
          <h1>Luis Augusto Hidalgo Vasquez</h1>
          <h2>Desarrollador web / Programador</h2>
          <div class="misEnlaces">
              <a href="https://github.com/Luisitox12" target="_blank"><img class="enlacesExternos" src="https://icon-icons.com/es/icono/github-original-marca-logo/146506.png"></a>
              <a href="mailto: luishidalgops6@gmail.com"><img class="enlacesExternos" src="https://imgur.com/4EuQ4NV.png"></a>
          </div>
      </header>
      <img class="fotoCV" src="https://media-exp1.licdn.com/dms/image/D4E03AQHjcBR-9AxMrA/profile-displayphoto-shrink_800_800/0/1665164344184?e=1675296000&v=beta&t=NC7nD8Ksab5PdzXYiPI1eGQgdb7zdwCu51dV1VwYSGE">
      
      
      <nav>
          <div>
              <p>Presentación</p>
              <a href="#presentacion"><img src="https://imgur.com/MG9wYnX.png" ></a>
          </div>
          <div>
              <p>Habilidades</p>
              <a href="#habilidades"><img src="https://imgur.com/jb1ahkJ.png" ></a>
          </div>
          <div>
              <p>Experiencia laboral</p>
              <a href="#experiencia"><img src="https://imgur.com/fAjqGYH.png" ></a>
          </div>
          <div>
              <p>Estudios</p>
              <a href="#estudios"><img src="https://imgur.com/wCDgsMA.png" ></a>
          </div>
          <div>
              <p>Otros detalles</p>
              <a href="#otros"><img src="https://imgur.com/l1sh7tu.png" ></a>
          </div>
          <div>
              <p>Contacto</p>
              <a href="#contacto"><img src="https://imgur.com/EoWfhRS.png" ></a>
          </div>
      </nav>
      
      
      <section id="presentacion" class="presentacion">
       <div>
          <h4>DATOS PERSONALES</h4>
          <p>Luis Augusto Hidalgo Vasquez</p>
          <p>+58 414-2974585</p>
          <p>Maracay, Aragua</p>
          <p>luishidalgops6@gmail.com</p>
       </div>
       <div>
          <h4>RESUMEN ESTUDIOS</h4>
          <p>Grado Superior en Desarrollo de Aplicaciones Web</p>
          <p>Grado Universitario en Ciencias Ambientales</p>
          <p>Máster en Recursos Hídricos y Medio Ambiente	</p>
       </div>
       <div>
          <h4>RESUMEN HABILIDADES</h4>
          <p>HTML</p>
          <p>CSS</p>
          <p>Javascript</p>
          <p>Diseño gráfico</p>
       </div>
      </section>
      <hr>
      <blockquote>Científico ambiental reconvertido al sector informático, con más de 1 año de experiencia laboral en el sector de redes para grandes clientes, actualmente formándose para desempeñar puestos de desarrollador web o programador. Durante toda mi carrera profesional considero que me he caracterizado por mi facilidad para adaptarme a cualquier puesto de trabajo que ha sido necesario. Destaco por mi capacidad para aprender nuevas habilidades y mi desempeño laboral.</blockquote>
      
      
      <div id="habilidades" class ="tituloYretorno">
          <a href="#inicio">▲</a>
          <h3>Habilidades</h3>
      </div>
      <section class="habilidades">
          <div class="fila">
              <div class="habilidad">
                  <h5>HTML</h5>
                  <p>★★★<span>★★</span></p>
              </div>
              <div class="habilidad">
                  <h5>CSS</h5>
                  <p>★★★<span>★★</span></p>
              </div>
              <div class="habilidad">
                  <h5>JAVASCRIPT</h5>
                  <p><span>★★★★★</span></p>
              </div>
              <div class="habilidad">
                  <h5>SQL</h5>
                  <p><span>★</span></p>
              </div>
          </div>
          <div class="fila">
              <div class="habilidad">
                  <h5>Adobe Photoshop</h5>
                  <p>★★★★<span>★</span></p>
              </div>
              <div class="habilidad">
                  <h5>Blender</h5>
                  <p>★★★<span>★★</span></p>
              </div>
          </div>
          <div class="fila">
              <div class="habilidad">
                  <h5>Vantive</h5>
                  <p>★★★★<span>★</span></p>
              </div>
              <div class="habilidad">
                  <h5>Paquete de Office</h5>
                  <p>★★★★<span>★</span></p>
              </div>
              <div class="habilidad">
                  <h5>MATLAB</h5>
                  <p>★★<span>★★★</span></p>
              </div>
          </div>
          <div class="fila">
              <div class="habilidad">
                  <h5>Español</h5>
                  <p>★★★★★<span></span></p>
              </div>
              <div class="habilidad">
                  <h5>Inglés</h5>
                  <p>★★★★<span>★</span></p>
              </div>
              <div class="habilidad">
                  <h5>Francés</h5>
                  <p>★<span>★★</span></p>
              </div>
          </div>
      </section>
      
      
      <div id="experiencia" class = tituloYretorno>
          <a href="#inicio">▲</a>
          <h3>Experiencia laboral</h3>
      </div>
      <section class="experiencia">
          <ul>
              <li><span>Técnico avanzado de primer nivel de comunicaciones y redes</span></li>
                <ul class="detalles">
                  <li>Comdata/Zelenza - PTA, Málaga</li>
                  <li>2021-2022</li>
                  <li>Técnico avanzado de primer nivel en centro de gestión de Telefónica. Experiencia en coordinación de personal, soporte técnico, herramientas de ticketing, gestión de comunicaciones y redes.</li>
                </ul>
              </li>
      
              <li><span>Consultoría ambiental</span></li>
                <ul class="detalles">
                  <li>Marbella, Málaga</li>
                  <li>2019</li>
                  <li>Desarrollo de actividades en materia de medio ambiente para centros educativos a nivel andaluz.</li>
                </ul>
              </li>
      
              <li><span>Elaboración de estudios de impacto ambiental</span></li>
                <ul class="detalles">
                  <li>Málaga</li>
                  <li>2015-2018</li>
                  <li>Auxiliar en la elaboración de <abbr title="Estudio de Impacto Ambiental">EsIA</abbr> dentro del marco de la elaboración de un informe técnico para puesta en marcha de proyectos de explotación agrícola.</li>
                </ul>
              </li>
      
              <li><span>Ingeniería hidráulica/Técnico medioambiental</span></li>
                <ul class="detalles">
                  <li>Málaga</li>
                  <li>2017</li>
                  <li>Prácticas derivadas del Máster cursado, enfocadas principalmente a la elaboración de informes y estudios ambientales para obtención de Autorizaciones Ambientales.</li>
                </ul>
              </li>
      
              <li><span>Auxiliar en mediciones técnicas</span></li>
                <ul class="detalles">
                  <li>Málaga</li>
                  <li>2009-2022</li>
                  <li>Auxiliar en la medición y levantamiento de planos de locales comerciales y viviendas para la elaboración de informes técnicos.</li>
                </ul>
              </li>
      
              <li><span>Profesor particular</span></li>
                <ul class="detalles">
                  <li>Málaga</li>
                  <li>2014-2015</li>
                  <li>Clases particulares de refuerzo para alumnos de grado universitario en asignaturas relacionadas con el área de las matemáticas</li>
                </ul>
              </li>
      
              <li><span>Artista y diseñador gráfico</span></li>
                <ul class="detalles">
                  <li>Málaga</li>
                  <li>2015-2022</li>
                  <li>Elaboración artística, diseño gráfico y diseño de composiciones para clientes</li>
                </ul>
              </li>
      
              <li><span>Empleado de servicio postal</span></li>
                <ul class="detalles">
                  <li>Málaga</li>
                  <li>2015</li>
                  <li>Sustitución temporal en plaza de cartero de reparto del servicio de Correos</li>
                </ul>
              </li>
      
              <li><span>Servicio de catering</span></li>
                <ul class="detalles">
                  <li>Málaga</li>
                  <li>2015</li>
                  <li>Realización de catering y servicio del mismo en eventos y celebraciones privadas</li>
                </ul>
              </li>
      
              <li><span>Diseño y maquetación periodística</span></li>
                <ul class="detalles">
                  <li>VivaMálaga/VivaFútbol - Málaga</li>
                  <li>2017</li>
                  <li>Elaboración, diseño y maquetación de publicaciones de periódico así como de la publicidad para empresas.</li>
                </ul>
              </li>
      
              <li><span>Edición y post-producción de cine independiente</span></li>
                <ul class="detalles">
                  <li>Málaga</li>
                  <li>2017-2020</li>
                  <li>Elaboración, efectos especiales, sonido y producción de tráilers de películas independientes de autor.</li>
                </ul>
              </li>
            </ul>
      </section>
      
      
      <div id="estudios" class = tituloYretorno>
          <a href="#inicio">▲</a>
          <h3>Estudios</h3>
      </div>
      <section class="experiencia">
          <ul>
              <li><span>Grado en Ciencias Ambientales</span></li>
                <ul class="detalles">
                  <li>Universidad de Málaga</li>
                  <li>2011-2016</li>
                  <li>Nota media: 6,72</li>
                </ul>
              </li>
      
              <li><span>Máster en Recursos Hídricos y Medio Ambiente</span></li>
                <ul class="detalles">
                  <li>Universidad de Málaga</li>
                  <li>2016-2017</li>
                  <li>Nota media: 7,19</li>
                </ul>
              </li>
      
              <li><span>Grado en Desarrollo de Aplicaciones Web</span></li>
                <ul class="detalles">
                  <li>CESUR, Málaga</li>
                  <li>2022 - Actualidad</li>
                  <li>Nota media: -</li>
                </ul>
              </li>
            </ul>
      </section>
      
      
      <div id="otros" class = tituloYretorno>
          <a href="#inicio">▲</a>
          <h3>Otros detalles de interés</h3>
      </div>
      <section class="otros">
          <details>
              <summary><span>Publicación de artículo científico.</span></summary>
              <ul>
                <li><cite>Determinación del tamaño de la población y propuestas de gestión de una especie de ave exótica invasora.</cite> Trabajo Final de Grado. Universidad de Málaga. Málaga. (2016)</li>
              </ul>
          </details>
          
          <details>
              <summary><span>Becas</span></summary>
              <ul>
                <li>Beneficiario de beca del Ministerio de educación durante todo el desarrollo del Grado Universitario. (2011-2016)</li>
                <li>Beneficiario de beca Erasmus para realización de estudios en Génova, Italia. (2014-2015)</li>
              </ul>
          </details>
          
          <details>
              <summary><span>Desplazamiento y disponibilidad</span></summary>
              <ul>
                <li>Carnet de Conducir B1.</li>
                <li>Vehículo propio.</li>
                <li>Capacidad de incorporación inmediata.</li>
              </ul>
          </details>
      </section>
      
      
      <div id="contacto" class = tituloYretorno>
          <a href="#inicio">▲</a>
          <h3>Contacto</h3>
      </div>
      <section class="contacto">
          <p>Ante cualquier cuestión adicional o consulta, no duden en contactarme a través de los siguientes medios:</p>
          <table class="datosContacto">
              <tr>
                <th>Nombre</th>
                <td>Luis Augusto Hidalgo Vasquez</td>
              </tr>
              <tr>
                <th>Teléfono</th>
                <td>+58 414-2974585</td>
              </tr>
              <tr>
                <th>Correo electrónico</th>
                <td>luishidalgops6@gmail.com</td>
              </tr>
            </table>
        
      </section>
      
      
      <footer>
      <p>
          Currículum actualizado a día 19/04/2024.
      </p>
      <p>
          Imágenes e iconos empleados son importados de manera externa.
      </p>
      </footer>
      </body>
      </html>