<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel='stylesheet' href='/stylesheets/login.css' />
</head>
<body>
  <h1>Login</h1>
  <% if (error_msg) { %>
    <p><%= error_msg %></p>
  <% } %>
  <form action="/auth/login" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
    <button type="submit">Login</button>
  </form>
  <a href="/auth/google">Iniciar sesión con Google </a>
</body>
</html>