<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel='stylesheet' href='/stylesheets/login.css' />
</head>
<div class="login">
	<h1>Login</h1>
  <% if (error_msg) { %>
    <p><%= error_msg %></p>
  <% } %>
    <form action="/auth/login"  method="post">
    	<input type="text" name="u" placeholder="Username" required="required" />
        <input type="password" name="p" placeholder="Password" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Login.</button>
      <a href="/auth/google" class="google-btn">Iniciar sesión con Google</a>
    </form>
</div>
</body>
</html>