<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel='stylesheet' href='/stylesheets/login.css' />
</head>
<body>
  <div class="login-container">
    <div class="login-header">
      <h1 class="login-text">Login</h1>
    </div>
    <% if (error_msg) { %>
      <p><%= error_msg %></p>
    <% } %>
    <form action="/auth/login" method="POST">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" required>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required>
      <button type="submit">Login</button>
    </form>
    <a href="/auth/google" class="google-btn">Iniciar sesión con Google</a>
  </div>
</body>
</html>