<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel='stylesheet' href='/stylesheets/login.css' />
</head>
<body>
  <div class="login">
    <div class="login-header">
      <h1>Login</h1>
    </div>
    <% if (error_msg) { %>
      <p><%= error_msg %></p>
    <% } %>
    <form action="/auth/login" method="POST">
      <div class="form-container">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
    <a href="/auth/google" class="btn google-btn">Iniciar sesión con Google</a>
  </div>
  <a href="/" class="btn btn-back">Regresar a la página principal</a>
</body>
</html>