table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to bottom, #ffdde1, #ffe6f5);
  background-size: 100% 200px;
  background-position: 0% 100%;
}

table thead tr {
  background-color: #8e24aa; /* Morado oscuro */
  color: #ffffff; /* Blanco */
  text-align: left;
  font-weight: bold;
  border-bottom: 2px solid #8e24aa;
  padding: 10px; /* Agregamos padding para dar espacio entre el texto y el borde */
  border-radius: 10px 10px 0 0; /* Redondeamos las esquinas superiores */
}

table th {
  background-color: #8e24aa; /* Morado oscuro */
  color: #ffffff; /* Blanco */
  padding: 10px; /* Agregamos padding para dar espacio entre el texto y el borde */
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd; /* Agregamos un borde derecho para separar las celdas */
}

table th:first-child {
  border-radius: 10px 0 0 0; /* Redondeamos la esquina superior izquierda */
}

table th:last-child {
  border-radius: 0 10px 0 0; /* Redondeamos la esquina superior derecha */
}

table td {
  padding: 12px 15px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #dddddd;
}

table tbody tr {
  background-color: #ffffff;
  transition: background-color 0.2s ease;
}

table tbody tr:hover {
  background-color: #f7f7f7;
}

table tbody tr:nth-of-type(even) {
  background-color: #f2f2f2;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid #8e24aa;
}